body {
  margin: 0;
  padding: 0;
  background-color: black;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1vi;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  
}

.item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.item-3{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.item-4{
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}